/* HEADER  */

*{
    padding: 0;
    margin: 0;
}

#lr_header{
    background-color: rgb(24, 24, 24);
    background-size: cover;
    background-attachment: fixed;
}
.lr_nav_header{
        color: rgb(206, 206, 206);
}

#lr_logo{
    background-color: rgb(24, 24, 24);
    display: flex;

    justify-content: center;
}

.lr_ul_header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
        font-size: 150%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

            padding-top: 1%;
            padding-bottom: 1%;
            margin: 0;
            list-style-type: none;   

}

.lr_li_header{
    text-decoration: none; 
    color: rgb(206, 206, 206);
}




/* INDEX */

#al_body{
    background-image: url(../blog/medias/floryn.jpg);
    background-attachment: fixed; 
    background-size:cover;
    background-color: rgb(255, 0, 0);
    opacity: 80%;
}
.rectangle{
	width: 70%;
	height:1000px;
	background:rgb(0, 0, 0);
    opacity: 50%;
    display: flex;
    z-index: -5;
    margin-top: 8%;
    margin-left: 15%;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#al_h1{
    color: aliceblue;
    display: flex;
    padding-left: 35%;
    padding-top: 2%;
    position: absolute;
    font-size: 300%;
    z-index: 100;
}



/* FOOTER  */
footer{
    background-color: rgb(12, 11, 11);
}
#imagegithub{
    margin-left: 90%;
}
.btn{
    color: salmon;
}





/* INSCRIPTION */






/* CONNEXION */
#titreLM{
    color: rgb(248, 168, 255);
    background-color: rgb(76, 50, 245);
    margin-top: 4%;
    border-radius: 8px;
}
#LMtitrediv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#connexion{
    font-size: 170%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4%;
    background-color: rgb(255, 151, 250);
}
#formLM{
    border-radius: 7px;
}




/* PROFIL */





/* ADMIN */





/* ARTICLE  */





/* ARTICLES */






/* CREER ARTICLES  */