/* HEADER  */

*{
    padding: 0;
    margin: 0;
}

#lr_header{
    background-color: rgb(24, 24, 24);
    background-size: cover;
    background-attachment: fixed;
    /* padding: 2em;  */
}
.lr_nav_header{
        color: rgb(206, 206, 206);
}

#lr_logo{
    background-color: rgb(24, 24, 24);
    /* background-image: url(../blog/medias/logo_blog.png); */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    display: flex;

    justify-content: center;
        /* font-size: 270%; */

            /* padding-top: 1%;
            padding-bottom: 1%;
            margin: 0; */
}

.lr_ul_header{
    /* background-color: blueviolet; */
        
    display: flex;
    flex-direction: row;
    justify-content:space-around;
        font-size: 150%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

            padding-top: 1%;
            padding-bottom: 1%;
            margin: 0;
            list-style-type: none;   

}

.lr_li_header{
    /* background-color: rgb(148, 148, 148); */
    text-decoration: none; 
    color: rgb(206, 206, 206);
}




/* INDEX */

#al_body{
    background-image: url(../blog/medias/floryn.jpg);
    background-attachment: fixed; 
    background-size:cover;
    background-color: rgb(255, 0, 0);
    opacity: 80%;
}
.rectangle{
	width: 70%;
	height:1000px;
	background:rgb(0, 0, 0);
    opacity: 50%;
    display: flex;
    z-index: -5;
    margin-top: 8%;
    margin-left: 15%;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
#al_h1{
    color: aliceblue;
    display: flex;
    padding-left: 35%;
    padding-top: 2%;
    position: absolute;
    font-size: 300%;
    z-index: 100;
}



/* FOOTER  */
footer{
    background-color: black;
}
#imagegithub{
    margin-left: 90%;
}
.boutonsfooter{

}





/* INSCRIPTION */






/* CONNEXION */






/* PROFIL */





/* ADMIN */





/* ARTICLE  */





/* ARTICLES */






/* CREER ARTICLES  */